.c-dropdown {
  display: inline-block;
  position: relative;

  .dropdown-toggle {
    &:after {
      position: absolute;
      top: 50%;
      right: -30px;
      @include arrow(13px,3px, $color-2, 'down');
      transform: translateY(-50%) rotate(45deg);
    }
  }

  > .btn {
    color: $color-2;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: inherit;
  }

  .dropdown-menu.-active {
    display: block;
  }

  .dropdown-item {
    line-height: 1.2;
    letter-spacing: 0;
  }
}
