.c-dropdown {
  display: inline;
  position: relative;

  button{
    cursor: pointer;
    color: $color-2;
    position: relative;
    display: inline-flex;
    margin: 0;

    &:after {
      position: absolute;
      right: -20px;
      top: 50%;
      @include arrow(9px,2px, $color-2, 'down');
      transform: translateY(-50%) rotate(45deg);
    }
  }

  ul {
    justify-content: flex-start;
    color: $color-2;
    margin: 0;
    padding: 0;
    display: none;

    &.-active {
      display: block;
    }
  }
}
