.share-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;

  .share-controls {
    background-color: rgba(47, 147, 156, 0.1);
    align-items: center;
    display: flex;
    height: 100%;

    .copy-btn {
      color: $color-1;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0;
      background: transparent;
      border: none;
      align-content: baseline;

      &:hover {
        background-color: rgba($color-1, 0.1);
      }
    }
  }
}
