.c-hero {
  height: 520px;
  padding-top: 150px;
  background-image: url('/images/header-bg.jpg');
  background-position: center;
  background-size: cover;

  .hero-title {
    font-weight: bold;
    letter-spacing: -2.16px;
    text-align: center;
    color: $white;
    margin: 0;

    @media screen and (min-width: map-get($breakpoints, lg)) {
      font-size: 60px;
      line-height: 65px;
    }
  }
}
