
.c-hero {
  background-color: $color-1;
  // background-image: url('/images/');
  // background-position: center;
  // background-size: cover;
  // width: 100%;

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    max-width: 250px;
    margin: auto;

    h1 {
      color: $white;
      margin: 0;
      * {
        font-size: 40px;
      }
    }

    button{
      cursor: pointer;

      p {
        color: $color-2;
        position: relative;
        display: inline-flex;
        margin: 0;

        &:after {
          position: absolute;
          right: -20px;
          top: 50%;
          @include arrow(9px,2px, $color-2, 'down');
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}
