// Colors
$white: #fff !default;
$black: #000 !default;

// colors
$color-1: #257b83;
$color-2: #f9d031;
$color-3: #001d22;

$border-color: rgba($color-3, 0.1);

// Font
// $body-line-height: ;
$font-family-1: 'Open Sans', sans-serif;
// $font-family-2: ;

// Font sizes
// $font-weight-regular: 300;
// $font-weight-medium: 500;
// $font-weight-bold: 700;

// Spacing
// $padding: ;

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 10;
