@import 'styles/_settings';

.homepage {
  position: relative;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%), url(./covid-bg.png);
  background-color:$color-1;
  background-position: center;
}

.welcome {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 370px;
  color: white;

  $border-style: 10px solid white;

  > .welcomeTop,
  > .welcomeBottom {
    height: 60px;
    border-left: $border-style;
    border-right: $border-style;
    border-top: $border-style;
  }

  > .welcomeContent {
    border-right: $border-style;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;

    h1 {
      margin: 0;

      color: $color-2;
      font-size: 60px;
      font-weight: bold;
      letter-spacing: -2.16px;
      line-height: 65px;
      text-transform: uppercase;
    }

    h2 {
      display: inline-block;
      padding: 2px 15px;
      margin: 0;
      background-color: white;

      color: $color-1;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.14px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }

  > .welcomeBottom {
    border-top: 0;
    border-bottom: $border-style;
  }
}

.countriesNav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 17px;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 25px 0;
      padding: 0;

      > a,
      > span {
        display: block;
        color: $color-2;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: -1.26px;
        text-align: right;

        &[disabled] {
          color: white;
          opacity: 0.3;
        }
      }

      > span {
        color: white;
        opacity: 0.3;
      }
    }
  }
}
