.c-widget {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
  padding: 25px 30px;
  margin-bottom: 20px;

  .widget-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
  }
}
