.c-select {
  min-width: 150px;

  .react-select__control {
    padding: 5px 10px;
    width: 100%;
    background-color: $color-1;
    border: none;

    .react-select__value-container {
      font-family: $font-family-1;
      font-size: 14px;
      line-height: 20px;
      text-shadow: 0 1px 4px 0 rgba($black, 0.5);

      .react-select__single-value {
        color: $color-2;
      }
    }
    .react-select__indicator-separator {
      padding: 10px;
      display: none;
    }

    .react-select__dropdown-indicator {
      color: $color-2;
      svg {
        fill: $color-2;
      }
    }
    .react-select__placeholder {
      color: rgba($black, 0.85);
      font-style: italic;
    }
  }
}
