.c-navigation {
  display: flex;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    li {
      padding: 7px 25px;

      a {
        color: $color-2;
        text-decoration: none;
      }

      &.-active {
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0 2px 3px 0 rgba($black, 0.15);

        a {
          color: $color-1;
          text-decoration: none;
        }
      }
    }
  }
}
