.c-modal {
  $padding-box: 45px;
  background-color: rgba($color-4, 0.9);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  display: flex;
  pointer-events: all;

  .modal-container {
    position: relative;
    margin: auto;
    pointer-events: all;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      border: 0;
    }

    .modal-title {
      padding: 1rem 0;
      font-size: 35px;
      line-height: 1;
      color: $white;
      text-shadow: 0 2px 3px rgba(0,0,0,0.15);
      font-weight: bold;
      letter-spacing: -1px;
    }

    .modal-content {
      background-color: $white;
      border: 0;
      border-radius: 0;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
      padding: $padding-box;

      .form-fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;

        > label {
          color: $color-1;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0;
        }

        input {
          display: flex;
          align-items: center;
          border: none;
          padding: 8px 15px;
          background-color: rgba($color-4, 0.1);
          line-height: 30px;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .modal-footer {
      padding: 30px 0;
      border: 0;
    }

    .close-button {
      font-weight: bold;
      font-size: 25px;
      color: $white;
      width: 25px;
      z-index: 1;
    }
  }
}
