.l-country {

  .country-content {
    background-color: transparent;
    margin-top: -165px;

    .country-info {
      background-color: $white;
      max-width: 1100px;
      margin: auto;
      margin: -20px auto 20px auto;
      padding-top: 50px;

      h2 {
        font-size: 35px;
        font-weight: bold;
        letter-spacing: -2.16px;
        line-height: 42px;
        text-align: center;
      }

      p {
        padding: 0 180px;
        font-weight: 300;
        letter-spacing: 0.16px;
        line-height: 28px;
      }
    }
  }
}
