.c-header {
  position: absolute;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .logo-img {
    height: auto;
    width: 270px;
  }

  .header-buttons {
    align-items: center;
    margin: 20px 0;
    display: none;

    > div {

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    @media screen and (min-width: map-get($breakpoints, lg - 1)) {
      display: flex;
      margin-top: 20px;

      &.-hidden {
        display: none;
      }
    }

    @media screen and (min-width: map-get($breakpoints, sm)) {
      display: flex;
    }
  }


  @media screen and (min-width: map-get($breakpoints, lg - 1)) {
    flex-direction: row;
  }
}
