.c-header {
  position: absolute;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .header {
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo-img {
      height: 66px;
    }

    .header-buttons {
      display: flex;
      align-items: center;

      > div {

        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }

      @media screen and (min-width: map-get($breakpoints, sm)) {
        display: flex;
        margin: 20px 0;
      }
    }


    @media screen and (min-width: map-get($breakpoints, md)) {
      flex-direction: row;
    }
  }
}
