.c-header {
  position: absolute;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .logo-img {
    height: auto;
    width: 270px;
  }

  .header-buttons {
    align-items: center;
    margin: 20px 0;
    display: none;

    > div {

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &.-hidden {
      display: none;
    }

    @media screen and (min-width: map-get($breakpoints, lg)) {
      display: flex;
      margin: 0;
    }

    @media screen and (min-width: map-get($breakpoints, sm)) {
      display: flex;
    }
  }


  .header {
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: map-get($breakpoints, lg)) {
      flex-direction: row;
    }
  }
}
