.c-footer {
  background-color: $color-5;
  padding: 70px 0;

  h2 {
    color: $white;
    text-align: center;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 0;

    .partner-logo {
      max-width: 250px;
      max-height: 100px;
      height: auto;
    }
  }
}
