.c-footer {
  position: relative;
  min-height: 445px;
  width: 100%;
  z-index: 1;
  background-color: $color-5;
  padding: 70px 20px;

  h2 {
    color: $white;
    letter-spacing: -1px;
    text-align: center;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 0;

    .partner-logo {
      width: 250px;
      height: 100px;
    }
  }
}
